<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- bean definitions here -->

	<!-- <bean name="emp" class="com.spring.model.Employee"> <constructor-arg 
		name="id" value="111" /> <constructor-arg name="name" value="Akshit" /> <constructor-arg 
		name="gender" value="Male" /> </bean> -->

	<bean name="add" class="com.spring.model.Address">
		<property name="city" value="GZB" />
		<property name="state" value="UP" />
	</bean>


	<bean name="emp" class="com.spring.model.Employee">
		<property name="id" value="111" />
		<property name="name" value="Akshit" />
		<property name="gender" value="Male" />
		<property name="address" ref="add" />
		<property name="list">
			<list>
				<value>100</value>
				<value>200</value>
				<value>300</value>
				<value>400</value>
				<value>400</value>
				<value>100</value>
				<value>100</value>
			</list>
		</property>
		<property name="set">
			<set>
				<value>10</value>
				<value>20</value>
				<value>30</value>
				<value>10</value>
				<value>50</value>
				<value>10</value>
			</set>
		</property>

		<property name="map">
			<map>
				<entry key="1" value="ONE" />
				<entry key="2" value="TWO" />
				<entry key="3" value="THREE" />
				<entry key="1" value="one" />
			</map>
		</property>


	</bean>
</beans>

